/*Font imports*/
@import url('https://fonts.googleapis.com/css2?family=Kufam:wght@700&family=Mukta&display=swap');
/*
css for using these fonts:

font-family: 'Kufam', cursive;
font-family: 'Mukta', sans-serif;
*/

/*Text Colour & Font*/

/* setting <body> here purely to get rid of the stark white and black colours */
body{
    background-color: #f0f8fa;
    color: #2e282a;
    font-family: 'Mukta', sans-serif;
    padding:0!important;
}

.navbar{
    text-decoration: none;
}

.nav-logo, .navbar-item a, .title, .delete-button, .edit-button{
    font-family:'Kufam', cursive;
}

.navbar-item:hover, .navbar-item a, .nav-logo, .search-by-category a:hover{
    text-decoration: none;
}

.nav-logo, .navbar-item a, .title-splash, .recipe-thumbnail-object, .edit-button a, .delete-button a{
    color:#f0f8fa;
    transition-duration:0.2s;
}

.navbar-item a:hover,.nav-logo:hover, .recipe-thumbnail-object:hover, .edit-button a:hover, .delete-button a:hover{
    color:#f8efda;
    text-decoration: none;
}

.recipe-search-controls, .footer div, .page-item a{
    font-family: 'Mukta', sans-serif;
} 

/*Common*/

.title{
    text-align: center;
}

.navbar{
    height:60px;
    background:#2E282A;
    padding:0;
    width:110vw;
    padding-left:6vw;
    padding-right:6vw;
    position:fixed;
    top:0;
    left: -5vw;
    z-index: 20;
    margin:0;
}

.nav-logo{
    margin-left:20px;
    max-width:fit-content;
}

.navbar-list{
    margin:0 20px 0 0;
    padding:0;
    height:inherit;
    float:right;
}

.navbar-item{
    height:inherit;
    padding:0;
    width:fit-content;
    text-align: center;
    vertical-align: middle;
    background:#2E282A;
    transition-duration:0.3s;
}

.navbar-item a{
    display:flex;
    justify-content:center;
    align-items: center;
    height:100%;
}

.navbar-item:hover{
    background:#3f393b;
}

.recipe-thumbnail-object{
    min-width: 17rem;
    max-width: 17rem;
    width:17rem;
    margin:1rem 1.5rem;
    height:10rem;
    display:inline-flex;
}

.thumbnail-background{
    height:inherit;
    width:inherit;
}

.thumbnail-title{
    bottom: -7rem;
    position: relative;
}

.footer{
    background-color:#2E282A;
    color:#f0f8fa;
    position:relative;
    bottom:0;
    left:-5vw;
    padding-left:6vw;
    padding-right:6vw;
    width:110vw;
    margin-left:0;
}
.footer div{
    padding:15px;
}

/*Home page*/
.title-splash{
    height:40vh;
    margin-bottom:50px;
    padding:0;
    background:linear-gradient(#ffffff1a, #00000033), url(../images/baguetteStack.jpg);
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
}

.title-splash .title{
    text-align:center;
}

.recipe-display-row{
    margin:30px 0px;
}

/*Recipe Search*/
.recipe-search-results{
    display:flex;
    justify-content: center;
    padding-top: 70px;
    width:80%;
    margin: auto;
    min-height: 80vh;
}

#recipe-search-controls{
    display: flex;
    float: left;
    flex-direction: column;
    background-color:#2f7a8b;
    padding-bottom:10px;
    min-height:50rem;
    margin-top: 60px;
}

.name-search{
    padding:10px;
    border-bottom: 1px solid #2f7a8b;
}

.name-search button{
    background-color: #f0f8fA;
    border: 1px solid #235e6b;
    color: #2e282a;
    display: inline-flex;
    border-radius: 20%;
}

.search-by-category{
    width:100%;
    border:0px;
    border-bottom: 1px solid #235864;
}

.search-by-category a{
    color:#f0f8fA;
}

#search-controls-toggle{
    border:1px solid #246574;
    display:none;
}

.search-by-category:hover, #search-controls-toggle:hover{
    background-color:#235864;
    border:0px;
    border-bottom: 1px solid #2f7281;
    outline:none;
}

.search-by-category:focus, #search-controls-toggle:focus{
    outline:none;
}

#search-controls-toggle, .search-by-category{
    padding: 10px;
    background-color:#2f7a8b;
    width:100%;
    color:#f0f8fa;
    transition-duration:0.2s;
    outline:none;
}

.pagination-container{
    justify-content: center;
    position:relative;
    bottom:-40%;
}

.no-results{
    display: flex;
    text-align: center;
    margin: auto;
}

.pagination{
    margin: 50px;
}

.page-item a{
    color:#f0f8fA;
    background-color:#db423a;
    border:1px solid #b6352f;
}

.page-item a:hover, .page-item a:focus{
    background-color:#bd2d26;
    text-decoration: none;
    outline:none;
    color:#f0f8fA;
}

.active .page-link{
    background-color:#6b70ac!important;
    border:1px solid #7d82B8!important;
}

.hidden-start{
    display:none;
}

/*Edit Recipe Page*/
.recipe-edit-form{
    width:80vw;
    margin:30px auto;
    margin-top:70px;
}

.recipe-edit-form .row>div{
    margin-top:20px;
}

#preparationTime, #cookingTime{
    max-width: 4rem;
}

.minuteLabel{
    max-width:50%;
    margin:0;
    padding:0;
}

.edit-submit{
    background-color: #7d82B8;
    border:1px solid #9296c9;
    color:#f0f8fA;
    padding:20px;
    display:flex;
    align-self: center;
}

.edit-submit:hover{
    background-color: #5a5f96;
    border:1px solid #6b70ac;
}

/*Recipe Page*/
.recipe-content{
    width: 80%;
    margin: 30px auto;
    margin-top:100px;
}

.recipe-content>div{
    margin:20px 0;
}

.recipe-image{
    width: 30vw;
    position: relative;
    float: right;
}

.method ol li, .ingredients ul li{
    margin-top:15px;
}

.edit-button{
    background-color: #7d82B8;
    border-color: #9296c9;
}

.edit-button:hover{
    background-color: #43466b;
    border-color: #393c6b;
}

.delete-button{
    background-color:#ef3e36;
    border-color:#db423a;
}

.delete-button:hover{
    background-color:#a5231c;
    border-color:#991e18;
}

.delete-button, .edit-button{
    margin:20px;
    padding:0;
    display:flex;
    max-width:100px;
    margin-bottom:40px;
}

.edit-button a, .delete-button a{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding:10px;
}

.ed-button-container{
    width: 80vw;
    margin: auto;
    display:flex;
    justify-content: center;
    left: 0;
    right: 0;
    bottom: 0;
}

/* footer */
.footer>div{
    display:flex;
    align-items:center;
}

/* width-based rules */
@media(max-width:1195px){
    .recipe-search-results{
        width:auto; 
    }
    #recipe-search-controls{
        height:60rem;
    }
}
@media(max-width:1100px){
    .navbar-item-text{
        display:none;
    }
    #recipe-search-controls{
        display: none;
        align-self: center;
        flex-direction: column;
        padding: 0;
        min-height: 1rem;
        width: 110vw;
        margin-left: 0;
        margin-right: 0;
        left: -5vw;
        height:10rem;
        position: relative;
        z-index: 99;
        float: none;
        top: 40px;
    }
    .name-search{
        width:100%;
        justify-content: center;
        display:flex;
    }
    #search{
        width:70vw;
    }
    #search-controls-toggle{
        width: 110vw;
        position: fixed;
        display: block;
        top: 60px;
        margin:0;
        left:-5vw;
        z-index:99;
    }
    .recipe-search-results{
        margin-top: 70px;
    }
}

@media(max-width:509px){
    .recipe-image{
        float:none;
        width:80vw;
        padding-bottom:30px;

    }
    .navbar{
        width: 110vw;
        position: fixed;
        display: block;
        left: -1vw;
    }
    .nav-logo{
        float: left;
        padding-top: 18px;
    }
}

@media(max-width:460px){
    .nav-logo span{
        display:none;
    }
}