/*Font imports*/

/*Text Colour & Font*/
nav{
    background-color:magenta;/*test value, needs to change*/
}

.navbar-item:hover{
    background-color:#000;/*test value, needs to change*/
}

/*Common*/
.navbar{
    padding: 1rem;
}

.navbar-list{
    padding:0;
    margin:0;
}

.navbar-item{
    list-style-type:none;
    vertical-align: middle;
    text-align: center;
    width:33%;
    height:100%;
}

/*Home page*/
.title-splash{
    text-align:center;
    height:50vh;
}
.home-section-title{
    text-align:center;
}
.home-search-recipe-link{
    text-align:center;
}

/*Edit Recipe Page*/
#preparationTime, #cookingTime{
    max-width: 4rem;
}

.minuteLabel{
    max-width:50%;
    margin:0;
    padding:0;
}