/*Font imports*/
@import url('https://fonts.googleapis.com/css2?family=Kufam:wght@700&family=Mukta&display=swap');
/*
css for using these fonts:

font-family: 'Kufam', cursive;
font-family: 'Mukta', sans-serif;
*/

/*Text Colour & Font*/
.navbar{
    text-decoration: none;
}

.nav-logo, .navbar-item a, .title{
    font-family:'Kufam', cursive;
}

.navbar-item:hover, .navbar-item a, .nav-logo{
    text-decoration: none;
}

.nav-logo, .navbar-item a, .title-splash, .recipe-thumbnail-object{
    color:#f0f8fa;
}

.navbar-item a:hover, .nav-logo:hover, .recipe-thumbnail-object:hover{
    color:#d3d6d6;
    text-decoration: none;
}

/*Common*/

.title{
    text-align: center;
}

.navbar{
    height:50px;
    background:linear-gradient(#3891A6, #257283);
}

.navbar-list{
    margin:0;
    padding:0;
    width:40%;
    background: #4d8a97;
    border: 1px, solid, #257283;
}

.navbar-item{
    padding:0;
    text-align: center;
    vertical-align: middle;
}

.recipe-thumbnail-object{
    width: 17rem;
    margin:1rem 1.5rem;
    height:10rem;
}

.thumbnail-background{
    height:100%;
    width:100%;
}

.thumbnail-title{
    text-align: center;
    bottom: -7rem;
    position: relative;
}

/*Home page*/
.title-splash{
    height:60vh;
    width:100vw;
    margin-left:-15px;
    margin-right:-15px;
    padding:0;
    background:linear-gradient(rgba(255,255,255,0.1), rgba(0,0,0,0.2)), url(../images/baguetteStack.jpg);
    background-position:center;
    background-size:auto;
}

.title-splash .title{
    text-align:center;
}

/*Edit Recipe Page*/
#preparationTime, #cookingTime{
    max-width: 4rem;
}

.minuteLabel{
    max-width:50%;
    margin:0;
    padding:0;
}