<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Book</title>
    <!--Stylesheets-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css">
</head>
<body class="container-fluid">
    <!--Navbar-->
    <nav class="row navbar">
        <a class="nav_logo" href="#">Logo [PH]</a> 
        <div>
            <ul class="navbar-list row align-items-center">
                <li class="navbar-item col"><a href="#">List Item 1 [PH]</a></li>
                <li class="navbar-item col"><a href="#">List Item 2 [PH]</a></li>
                <li class="navbar-item col"><a href="#">List Item 3 [PH]</a></li>
            </ul>
        </div> 
    </nav>
    <!--Block for page content-->
    <div>
        {% block content %}
        {% endblock %}
    </div>
    <!--Scripts-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>