<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Book</title>
    <!--Stylesheets-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css">
</head>
<body class="container-fluid">
    <!--Navbar-->
    <nav class="row navbar">
        <a class="nav-logo col-5" href="{{url_for('home')}}"><i class="fas fa-utensils"></i> Communal Cookbook</a> 
        <div class="navbar-list col-5 row align-items-center">
            <div class="navbar-item col"><a href="{{url_for('home')}}"><div>Home</div></a></div>
            <div class="navbar-item col"><a href="{{url_for('recipe_search')}}"><div>Browse Recipes</div></a></div>
            <div class="navbar-item col"><a href="{{url_for('edit_recipe', ID='new')}}"><div>Add A Recipe</div></a></div>
        </div>
    </nav>
    <!--Block for page content-->
    {% block content %}
    {% endblock %}
    <!--Scripts-->
    <script src="https://kit.fontawesome.com/5fab42f761.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>