{% extends 'base.html' %}
{% block content%}

    {% if target_recipe == 0 %} <!--This isn't evaluating to true when creating a new entry, why?-->
    <form action="{{ url_for('insert_recipe', ID='new') }}" method="POST">
    {% else %}
    <form action="{{ url_for('insert_recipe', ID=target_recipe._id) }}" method="POST">
    {% endif %}

        <div class="row">
            <div class="col">
            <label for="recipeName" > New Recipe Name: </label><!--I need clearer IDs, brevity be damned.-->
            <input id="recipeName" name="recipe_name" type="text" value="{{ target_recipe.recipe_name }}" required>
            </div>
        </div>

        <div class="row">
            <div class="col-2">
            <label class="cat-label" for="categorySelect"> Category: </label>
            <select id="categorySelect" name="category">
                <option value="Breakfast" {% if target_recipe.category == "Breakfast" %} selected {% endif %} >Breakfast</option>
                <option value="Lunch" {% if target_recipe.category == "Lunch" %} selected {% endif %} >Lunch</option>
                <option value="Dinner" {% if target_recipe.category == "Dinner" %} selected {% endif %} >Dinner</option>
                <option value="Dessert" {% if target_recipe.category == "Dessert" %} selected {% endif %} >Dessert</option>
                <option value="Snacks" {% if target_recipe.category == "Snacks" %} selected {% endif %} >Snack</option>
                <option value="Sides" {% if target_recipe.category == "Sides" %} selected {% endif %} >Side</option>
            </select>
            </div>
            <div class="col-2">
            <label for="servings"> Servings: </label>
            <input id="servings" name="servings" type="text" value="{{ target_recipe.servings }}">
            </div>
            <div class="col-4">
            <label for="preperationTime"> Preperation Time: </label>
            <input id="preparationTime" name="prep_time" type="number" value="{{ target_recipe.prep_time }}">
            <span class="minute-label"> Minutes </span>
            </div>
            <div class="col-4">
            <label for="cookingTime"> Cooking Time: </label>
            <input id="cookingTime" name="cook_time" type="number" value="{{ target_recipe.cook_time }}">
            <span class="minute-label"> Minutes </span>
            </div>
        </div>

        <div class="row">
            <div class="col">
            <label for="ingredientsList">Ingredients</label>
            <input id="ingredientsList" name="ingred_list" type="text" value="{{ target_recipe.ingred_list }}" required><!--change to an add additional kind of situation, so a nested document, or could be a text area.-->
            </div>
        </div>

        <div class="row">
            <div class="col">
            <label for="toolsNeeded">Special Kitchenware Needed: </label>
            <input id="toolsNeeded" name="tools_needed" type="text" value="{{ target_recipe.tools_needed }}">
            </div>
            <div class="col">
            <label for="imageEntry">Url for Image: </label>
            <input id="imageEntry" name="image_link" type="text" value="{{ target_recipe.image_link }}">
            </div>
        </div>

        <div class="row">
            <div class="col">
            <label for="cooking Method">Cooking Method: </label>
            <textarea id="cookingMethod" class="col" name="method" required>{{ target_recipe.method }}</textarea>
            </div>
        </div>

        <input type="submit" value="Submit">
    </form>
{% endblock %}