{% extends 'base.html' %}
{% block content%}
    <form class="recipe-edit-form" 
    {% if target_recipe == 0 %} action="{{ url_for('insert_recipe', ID_target='new') }}" 
    {% else %}
    action="{{ url_for('insert_recipe', ID_target=target_recipe._id) }}" 
    {% endif %}
    method="POST">

        <div class="row">
            <div class="col">
            <label for="recipeName" > New Recipe Name: </label>
            <input id="recipeName" name="name" type="text" value="{{ target_recipe.name }}" required>
            </div>
        </div>

        <div class="row">
            <div class="col-2">
            <label class="cat-label" for="categorySelect"> Category: </label>
            <select id="categorySelect" name="category">
                <option value="Breakfast" {% if target_recipe.category == "Breakfast" %} selected {% endif %} >Breakfast</option>
                <option value="Lunch" {% if target_recipe.category == "Lunch" %} selected {% endif %} >Lunch</option>
                <option value="Dinner" {% if target_recipe.category == "Dinner" %} selected {% endif %} >Dinner</option>
                <option value="Dessert" {% if target_recipe.category == "Dessert" %} selected {% endif %} >Dessert</option>
                <option value="Snacks" {% if target_recipe.category == "Snacks" %} selected {% endif %} >Snack</option>
                <option value="Sides" {% if target_recipe.category == "Sides" %} selected {% endif %} >Side</option>
            </select>
            </div>
            <div class="col-2">
            <label for="servings"> Servings: </label>
            <input id="servings" name="servings" type="text" value="{% if target_recipe != 0 %}{{ target_recipe.servings }}{% endif %}">
            </div>
            <div class="col-4">
            <label for="preperationTime"> Preperation Time: </label>
            <input id="preparationTime" name="prep_time" type="number" value="{% if target_recipe != 0 %}{{ target_recipe.prep_time }}{% endif %}"> <!-- need to enforce variable type -->
            <span class="minute-label"> Minutes </span>
            </div>
            <div class="col-4">
            <label for="cookingTime"> Cooking Time: </label>
            <input id="cookingTime" name="cook_time" type="number" value="{% if target_recipe != 0 %}{{ target_recipe.cook_time }}{% endif %}">
            <span class="minute-label"> Minutes </span>
            </div>
        </div>

        <div class="row">
            <div class="col">
            <label for="ingredientsList">Ingredients:</label>
            <textarea id="ingredientsList" class="tiny-mce-target-bul"  name="ingred_list" type="text" >{% if target_recipe != 0 %}{{ target_recipe.ingred_list }}{% endif %}</textarea>
            </div>
        </div>

        <div class="row">
            <div class="col">
            <label for="toolsNeeded">Special Kitchenware Needed: </label>
            <textarea id="toolsNeeded" class="tiny-mce-target-bul" name="tools_needed" type="text">{% if target_recipe != 0 %}{{ target_recipe.tools_needed }}{% endif %}</textarea>
            <div class="col">
            <label for="imageEntry">Url for Image: </label>
            <input id="imageEntry" name="image_link" type="text" value="{% if target_recipe != 0 %}{{ target_recipe.image_link }}{% endif %}">
            </div>
        </div>

        <div class="row">
            <div class="col">
            <label for="cookingMethod">Cooking Method: </label>
            <textarea id="cookingMethod" class="tiny-mce-target-num" name="method">{% if target_recipe != 0 %}{{ target_recipe.method }}{% endif %}</textarea>
            </div>
        </div>

        <input class="row edit-submit" type="submit" value="Submit">
    </form>
{% endblock %}