{% extends 'base.html' %}
{% block content%}
    <div class="title-splash row align-items-center justify-content-center">
        <h1 class="title col-sm-5">A Place for Sharing Cooking</h1>
    </div>
    <h2 class="title">Most Viewed Recipes</h2>
    <div class="recipe-display-row row justify-content-center">
        {% for recipe in recipes_popular %}
            <a class="recipe-thumbnail-object"  href="{{ url_for('recipe_page', ID=recipe._id) }}">
                <div class="thumbnail-background" style="background:linear-gradient(rgba(255,255,255,0.1), rgba(0,0,0,0.5)), url('{{recipe.image_link}}')">
                    <h3 class="thumbnail-title title">{{recipe.name}}</h3>
                </div>
            </a>
        {% endfor %}
    </div>
    <h2 class="title">Recent Recipes</h2>
    <div class="recipe-display-row row justify-content-center">
        {% for recipe in recipes_new %}
            <a class="recipe-thumbnail-object"  href="{{ url_for('recipe_page', ID=recipe._id) }}">
                <div class="thumbnail-background" style="background:linear-gradient(rgba(255,255,255,0.1), rgba(0,0,0,0.5)), url('{{recipe.image_link}}')">
                    <h3 class="thumbnail-title title">{{recipe.name}}</h3>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}