{% extends 'base.html' %}
{% block content%}
    <div class="title-splash row align-items-center justify-content-center">
        <h1 class="col-5">SITE TITLE [PH]</h1>
    </div>
    <h2 class="home-section-title">Popular Recipes</h2>
    <div class="row justify-content-center">
        {% for recipe in recipes_popular %}
            <div class="recipe-thumbnail-object col-2"> {{ recipe.recipe_name }} </div>
        {% endfor %}
    </div>
    <h2 class="home-section-title">Recent Recipes</h2>
    <div class="row justify-content-center">
        {% for recipe in recipes_new %}
            <div class="recipe-thumbnail-object col-2"> {{ recipe.recipe_name }} </div>
        {% endfor %}
    </div>

{% endblock %}