{% extends 'base.html' %}
{% block content%}
    <div class="title-splash row align-items-center justify-content-center">
        <h1 class="col-5">SITE TITLE [PH]</h1>
    </div>
    <h2 class="home-section-title">Popular Recipes</h2>
    <div class="row justify-content-center">
        <div class="recipe-thumbnail-object col-2"></div>
    </div>
    <h2 class="home-section-title">Recent Recipes</h2>
    <div class="row justify-content-center">
        <div class="recipe-thumbnail-object col-2"></div>
    </div>
    <a class="home-search-recipe-link" href="#">Browse All Recipes</a>

{% endblock %}