{% extends 'base.html' %}
{% block content%}
    
    <button id="search-controls-toggle" onclick="searchMenuToggle()"><i class="fas fa-list-ul"></i></button>
    <div id="recipe-search-controls">  
    <form class="name-search" action="{{url_for('search')}}" method="GET">
        <input id="search" type="text" placeholder="Search by recipe name" name="search" required>
        <button type="submit"><i><i class="fas fa-search"></i></i></button>
    </form>
        {% set categories=['All', 'Breakfast', 'Lunch', 'Dinner', 'Dessert', 'Snacks', 'Sides']  %}<!--remove this-->
        {% for category in categories %}
        <a href="{{ url_for('search', category={{category}}) }}"></a>
        {% endfor %}
    </div>
    <div class="recipe-search-results row">
    {% for recipe in recipes %}
        <a id="recipe-{{loop.index}}" class="recipe-thumbnail-object {% if loop.index > 8 %} hidden-start {% endif %}"  href="{{ url_for('recipe_page', ID=recipe._id) }}">
            <div class="thumbnail-background" style="background:linear-gradient(rgba(255,255,255,0.1), rgba(0,0,0,0.5)), url('{{recipe.image_link}}')"><!--Not happy with the inline styling, but not aware of a clearer way to pass this yet.-->
                <h3 class="thumbnail-title title">{{recipe.name}}</h3>
            </div>
        </a>
    {% endfor %}
    {% if pages > 1 %}
        <nav class="pagination-container col-12 row">
            <ul class="pagination">
            {% for pagecount in range(1,pages+1) %}
            <li id="page-button-{{pagecount}}" class="page-item {% if pagecount == 1 %}active{% endif %}">
                <a id="page-button-link-{{pagecount}}" href="#" onclick="searchPaginate({{pages}}, {{pagecount}}, {{totalResults}})" class="page-link">{{pagecount}}</a>
            </li>
            {% endfor %}
            </ul>
        </nav>
    {% endif %}
    </div>

{% endblock %}